#story{
    display: none;
}

body{
    background: linear-gradient(to right,purple, black);
}

h1{
    color: white;

    margin: 8px;
  
    
}

label{
    color: white;
}

p{
    color: white;
}

.person1{
    color: aqua;
}

.person2{
    color: aqua;
}

.animal{
    color: aqua;
}

.noun{
    color: aqua;
}

.verb{
    color: aqua;
}

.exclaimation{
    color: aqua;
}

.btn{
    color: white;
}